body {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.basic-text {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    margin-left: 14px;
    margin-right: 20px;
}

.form-control {
    min-width: 100px;
}

/* Used to define what the print view looks like */
@media print {
    #accordion, #welcome-summary {
        display: none;
    }
}

#accordion .panel-heading {
    cursor: pointer;
}

/* Grey-out the checkboxes when they can't be changed */
.Uneditable {
    color: grey;
}

/* Set schedule to fixed position */
#schedule{
    /*position: fixed;*/
}